<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="pro" class="org.rohiniinfotech.Employee.Project">
    <property name="projectid">
        <value>123456</value>
    </property>
        <property name="projectname">
            <value>centumproject</value>
        </property>
        <property name="projectCode">
            <value>CTE001</value>
        </property>
        <property name="projectmanager">
            <value>Kim Namjoon</value>
    </property>
    </bean>
</beans>